* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.first-row {
  text-align: justify;
  background-color: #888888;
  color: #ffffff;
}

.second-row,
.fourth-row,
.sixth-row {
  background-color: #c0c0c0;
}

.third-row,
.fifth-row,
.seventh-row {
  background-color: #efefef;
}

#active {
  background-color: #ffbbbb;
}

.content-table {
  margin: 5rem auto;
  font-size: 1.2em;
  width: 35%;
}

.content-table th,
.content-table td {
  padding: 12px 15px;
}

.content-table tbody tr {
  border-bottom: 1px solid #dddddd;
}
